@charset "UTF-8";
/* 自定义样式，可覆盖默认的样式，默认样式变量如下 */
/* [https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css] */
:root {
  --vp-c-brand: var(--vp-c-yellow-light);
  --vp-c-brand-light: var(--vp-c-yellow-light);
  --vp-c-brand-lighter: var(--vp-c-yellow-lighter);
  --vp-c-brand-dark: var(--vp-c-yellow-dark);
  --vp-c-brand-darker: var(--vp-c-yellow-darker);
}

.Layout .vp-doc h2 {
  margin-top: 24px;
}

.Layout .vp-doc h3 + h4 {
  margin-top: 16px;
}

.Layout .custom-block .custom-block-title {
  font-size: 16px;
}

.Layout p > img {
  box-shadow: 0 0 5px var(--vp-c-gray);
  border-radius: 10px;
}

@media (min-width: 1440px) {
  .Layout .VPNavBar.has-sidebar div.content {
    padding-left: calc(var(--vp-sidebar-width) + $length--48);
    padding-right: var(--vp-nav-height);
  }
  .Layout .VPNavBar.has-sidebar .curtain {
    width: calc(100% - $myWidth);
  }
  .Layout .VPNavBar.has-sidebar div.title {
    padding-left: 48px;
    padding-right: 16px;
    width: calc(var(--vp-sidebar-width) + $length--48);
  }
  .Layout .VPSidebar {
    padding-left: 48px;
    width: calc(var(--vp-sidebar-width) + $length--48);
  }
  .Layout .VPContent.has-sidebar {
    padding-left: calc(var(--vp-sidebar-width) + $length--48);
    padding-right: var(--vp-nav-height);
  }
}

.Layout .essay-container {
  --iconWidth: 48px;
  --iconRight: 12px;
  display: block;
  border: 1px solid var(--vp-c-bg-soft-mute);
  background-color: var(--vp-c-bg-soft);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 10px;
}

.Layout .essay-container:hover {
  background-color: var(--vp-c-bg);
  border: 1px solid var(--vp-c-green);
}

.Layout .essay-container .essay-content {
  display: flex;
  align-items: center;
  padding: 10px;
}

.Layout .essay-container .icon {
  width: var(--iconWidth);
  height: var(--iconWidth);
  margin-right: var(--iconRight);
  border-radius: 4px;
}

.Layout .essay-container .essay-text {
  width: calc(100% - var(--iconWidth) - var(--iconRight));
}

.Layout .essay-container .essay-title,
.Layout .essay-container .essay-link {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Layout .essay-container .essay-title {
  color: var(--vp-c-text-1);
  font-weight: 700;
}

.Layout .essay-container .essay-link {
  font-size: 12px;
  color: var(--vp-c-text-2);
}

.dark p > img {
  opacity: 0.9;
}

.dark .essay-container:hover {
  background-color: var(--vp-c-bg-soft-mute);
  border: 1px solid var(--vp-c-green-dark);
}

.container .image-container {
  transform: translate(0px, 0px);
}

.container .main .text {
  padding-top: 12px;
  font-size: 40px;
}

.container .actions {
  padding-top: 12px;
}

.VPNavBarSearch {
  height: 36px;
  padding: 0 10px;
  background-color: var(--vp-c-bg-soft);
  border-radius: 4px;
}

.image-container .image-src {
  left: 50%;
  right: auto;
}

@keyframes float {
  0% {
    transform: translate(-50%, -45%);
  }
  50% {
    transform: translate(-50%, -55%);
  }
  100% {
    transform: translate(-50%, -45%);
  }
}

@media (min-width: 960px) {
  .image-container .image-src {
    left: auto;
    right: 0;
    animation: float 10s infinite ease-in-out;
  }
  @keyframes float {
    0% {
      transform: translate(0%, -45%);
    }
    50% {
      transform: translate(0%, -55%);
    }
    100% {
      transform: translate(0%, -45%);
    }
  }
}
